@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
    var isAdmin = User.IsInRole("Admin");
    var isStudent = User.IsInRole("Student");
    var isTeacher = User.IsInRole("Teacher");
    var userGroup = string.Empty;

    if (isStudent)
    {
        var db = new ASP.Models.ApplicationDbContext();
        var id = User.Identity.GetUserId();
        var user = db.Users.FirstOrDefault(u => u.Id == id);
        var student = db.Students.FirstOrDefault(s => s.Id == user.ContextId);
        if (student.GroupStud != null)
        { userGroup = student.GroupStud.Name; }
    }

}

<main>
    <h1 id="title">Модель ВУЗа</h1>
    <p class="lead">Это упрощенная модель системы Высшего учебного заведения, основанная на ASP.NET в целях изучения данной технологии.</p>
    @if (isAdmin)
    {
        <section class="row" aria-labelledby="aspnetTitle">
            <p>@Html.ActionLink("Кабинеты", "Index", "Cabinets", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Предметы", "Index", "ItemLessons", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Расписание", "Index", "Rasps", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Преподаватели", "Index", "Teachers", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Задания", "Index", "Homework", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Группы", "Index", "GroupStuds", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Студенты", "Index", "Students", null, new { @class = "btn btn-primary" })</p>
        </section>

    }
    else if (isTeacher)
    {
        <section class="row" aria-labelledby="aspnetTitle">
            <p>@Html.ActionLink("Кабинеты", "Index", "Cabinets", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Предметы", "Index", "ItemLessons", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Расписание", "Index", "Rasps", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Преподаватели", "Index", "Teachers", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Задания", "Index", "Homework", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Группы", "Index", "GroupStuds", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Студенты", "Index", "Students", null, new { @class = "btn btn-primary" })</p>
        </section>
    }
    else if (isStudent)
    {
        //зареганные
        //с группой
        if (!string.IsNullOrEmpty(userGroup))
        {
            //return View("IndexUserWithGroup");
            <h4>Вас уже записали в группу.</h4>
            <p>@Html.ActionLink("Кабинеты", "Index", "Cabinets", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Предметы", "Index", "ItemLessons", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Расписание", "Index", "Rasps", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Преподаватели", "Index", "Teachers", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Задания", "Index", "Homework", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Группы", "Index", "GroupStuds", null, new { @class = "btn btn-primary" })</p>
        }
        //пока без группы
        else
        {
            //return View("IndexUserWithoutGroup");
            <h4>Вас ещё не записали в группу. Подождите немного.</h4>
            <p>Пока что вам доступен следующий контент:</p>
            <p>@Html.ActionLink("Кабинеты", "Index", "Cabinets", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Преподаватели", "Index", "Teachers", null, new { @class = "btn btn-primary" })</p>
            <p>@Html.ActionLink("Группы", "Index", "GroupStuds", null, new { @class = "btn btn-primary" })</p>
        }
    }
    else
    {
        //не зареганные пользователи
        //return View("IndexNotReg");
        <h4>Вы ещё не зарегистровались.</h4>
    }

</main>