@model ASP.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Отчисление</h2>

<h3>Вы хотите отчислить студента?</h3>
<div>
    <h4>Студент:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupStud.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupStud.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Отчислить" class="btn btn-default" /> |
            @Html.ActionLink("Отмена", "Index")
        </div>
    }
</div>
